body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #393e46;
  color: #eeeeee;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  margin: 1rem;
  font-size: larger;
  padding: 1rem;
}

#check-btn {
  display: block;
  width: 20%;
  margin: 1rem auto;
  padding: 0.2rem;
}

#result {
  padding: 2rem;
  text-align: center;
  font-size: large;
}
